extends layout

block content
    h1=title

    p #[strong Artist:]
        a(href=artist.url) #{artist.artist_name}
    p #[strong Description:] #{artist.description}
    p #[strong Formed In:] #{artist.formed_in}
    img(src=artist.image, alt="Artist Image")

    div(style='margin-left:20px;margin-top:20px')
    h4 Copies

    ul
    each v in vinyl
        li
            p #[strong Vinyl:]  
                a(href=v.url) #{v.vynil_name}
            p #[strong Year of Release:] #{v.year_of_release}
            p #[strong Formed In:] #{artist.formed_in}
            img(src= v.cover, alt=v.vynil_name)  
    else
        p There are no vynils related to this artist

    hr
    p
        a(href=artist.url+'/delete') Delete Artist
    p
        a(href=artist.url+'/update') Update Artist
