extends layout 

block content 
    h1 #{title}: #{artist.name}

    if artist_vinyls.lenght 

        p #[strong Delete the following albums in order to delete this artist.]

        div(style='margin-left:20px;margin-top:20px')

            h4 Vinyls

            dl
            each v in artist_vinyls
                dt
                a(href=v.url) #{v.vinyl_name}
                dd #{v.summary}

    else
        p Do you really want to delete this artist?

        form(method='POST' action='')
            div.form-group
                input#authorid.form-control(type='hidden',name='artist', required='true', value=artist._id )

            button.btn.btn-primary(type='submit') Delete