extends layout

block content
    h1=title

    p #[strong Copy:]
        a(href=copy.vinyl.url) #{copy.vinyl.vinyl_name}
    p #[strong Year] #{copy.year}
    p #[strong Released By:] #{copy.released_by}
    p #[strong Released In:] #{copy.released_in}
    p #[strong Status:] #{copy.status}
    img(src="http://localhost:3000/" + copy.vinyl.cover, alt="Copy Image")

    hr
    p
        a(href=copy.url+'/delete') Delete Issue
    p
        a(href=copy.url+'/update') Update Issue
