extends layout

block content 
    h1 Register 

    form(method='POST' action='')
        div.form-content
            label(for="username") Username: 
            input#username.form-control(type='text' name='username' 
            placeholder='Your Username' required='true'
            value=(undefined === user ? '' : user.username))
        div.form-content
            label(for="email") Email: 
            input#email.form-control(type='text' name='email'
            placeholder='Your Email' required='true'
            value=(undefined === user ? '' : user.email))
            if emailTaken
                div.alert.alert-danger
                    p #{emailTaken}
        div.form-content
            label(for="username") Password: 
            input#password.form-control(type='password' name='password' 
            placeholder='Your Password' required='true')
        
        button.btn.btn-primary(type='submit') Submit
    
    a(href='/login')

    if errors
            ul
                for error in errors
                    li!= error.msg
        